In [30]:
import numpy as np
import heapq
import pandas as pd

In [106]:
#The purpose of this function is to take data in an excel spreadsheet and convert it to a pandas dataframe. 
#There is a single input for this function, fileName. This is the name of the Excel spreadsheet. 
#NOTE: for this function to work correctly the excel spreadsheet must be saved to my desktop. 
def excelToDataFrame(fileName):
    xls_file = pd.ExcelFile('/Users/adam/Desktop/' + fileName + '.xlsx')
    data = xls_file.parse('Sheet1')
    return data

In [108]:
test_data = excelToDataFrame('Test_Data')

In [122]:
test_data

        Grandparent    EU16    EU17  Claims16  Claims17    Freq16    Freq17
0           Andover  102400  150394       809      1220  0.007900  0.008112
1             ANPAC   82000   93420       562       603  0.006854  0.006455
2          Mercury    12000   14500        89        90  0.007417  0.006207
3        State Farm    8320    7430        54        30  0.006490  0.004038
4         Donnegal   320438  538921      1200      2304  0.003745  0.004275
5              Erie   43874   68372       120       240  0.002735  0.003510
6  National General   64890   68923       320       600  0.004931  0.008705

In [162]:
#The purpose of this function is to return the n top contributing grandparent companies to the overall change in
#frequency over a given time period. This function takes as inputs:
#       data: a pandas dataframe with column names, Grandparent, EU16, EU17, Claims16, Claims17, Freq16, Freq17. Use 
#             the excelToDataFrame() function to convert excel data to pandas dataframe. 
#       n: the number of grandparent companies we want to return 
#The output of this function is a list containing the names of the n top contributing Grandparent companies.
def simulation(data,n):
    #this will be the total number of Grandparent companies 
    N = data.shape[0]
    
    #sum the total number of Exposure Units for 2016 and 2017
    EU16 = sum(data['EU16'])
    EU17 = sum(data['EU17'])
    
    #sum the total number of Claims for 2016 and 2017
    claims16 = sum(data['Claims16'])
    claims17 = sum(data['Claims17'])
    
    #compute the overall frequency (for all grandparent companies) for 2016 and 2017
    freq16 = claims16/EU16
    freq17 = claims17/EU17
    
    #create an empty list that will be filled with the score for each individual grandparent comapany
    #the score will serve as that company's contribution to the overall change in frequency 
    score_history = []
    #loop over all grandparent companies. On each iteration take out one grandparent, calculate frequency 2016 and 
    #frequency 2017 then compute the distance between those frequencies and the overall frequencies. 
    for i in range(N):
        EU_16 = EU16 - data['EU16'][i]
        EU_17 = EU17 - data['EU17'][i]
        
        claims_16 = claims16 - data['Claims16'][i]
        claims_17 = claims17 - data['Claims17'][i]
        
        freq_16 = claims_16/EU_16
        freq_17 = claims_17/EU_17
        
        score = np.sqrt((freq16 - freq_16)**2 + (freq17 - freq_17)**2)
        score_history.append(score)
    
    #this will return the n largest scores from the score_history list. 
    top_scores = heapq.nlargest(n,score_history)
    
    #this will return the n grandparent companies that correspond to the n largest scores. This list will be what is 
    #returned. 
    top_grandparents = []
    for i in range(n):
        ind = score_history.index(top_scores[i])
        top_grandparents.append(data['Grandparent'][ind])
        
    return top_grandparents

In [171]:
simulation(test_data,2)

['Donnegal ', 'Andover']